---
layout: layouts/base.njk
pagination:
  data: i18n
  size: 1
  alias: t
  resolve: values
permalink: "{{ t.dir }}capabilities/index.html"
eleventyComputed:
  pageTitle: "{{ t.pages.capabilities.title | safe }}"
  pageDescription: "{{ t.pages.capabilities.description | safe }}"
  altUrl: "{{ t.otherLocale.dir }}capabilities/"
---

<section class="hyb-pagehead">
  <div class="hyb-wrap">
    <div class="hyb-head hyb-head--full">
      <span class="hyb-eyebrow hyb-eyebrow--pill">{{ t.capabilities.pageEyebrow }}</span>
      {% title t.capabilities.title, "h1", "hyb-title--page" %}
      <p class="hyb-lead">{{ t.capabilities.pageLead }}</p>
    </div>
  </div>
</section>

{% set showHead = false %}
{% include "partials/sections/capabilities.njk" %}
{% set showHead = true %}
{% include "partials/sections/process.njk" %}
{% include "partials/sections/lets-talk.njk" %}
